/* <!-- link:css , External CSS--> */


/* 
element{
    propertyName: propertyVa1ue;
} 
    */

h3{
    color: rebeccapurple;
}

h4, h5{
    background-color: yellow;
    color: blue;
}

ul li a {
    color: burlywood;
}

a{
    color: royalblue;
}

div p{
    color: tomato;
}

div table *{
    color: brown;
    background-color: aquamarine;
    border: 10 rgb(0, 0, 0);
}

section {
    color: red;
}

#sec2{
    background-color: rgb(102, 74, 38);
    color: aqua;
}

#id1{
    color: blueviolet;
}

.class1{
    color: yellowgreen;
}

input[type]{
    background-color: rgb(7, 54, 49);
    color: darkblue;
}

input[type="text"]{
    background-color: turquoise;
    color: darkblue;
}